@font-face {
    font-family: 'logo font';
    src: url('./Fonts/LemonMilkMedium-mLZYV.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
    background-color: #4f83cc;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-weight: lighter;
    letter-spacing: -1.5;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: -0.5;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: 0.25;
}
/* Header */

header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    background-color: #01579b;
    border-radius: 5px;
}

.logo h1 {
    font-family: 'logo font';
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 700;
}

.logo {
    width: 130px;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    background-image: url('./Img/pngkit_paint-splat-png_9740531.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: 5px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
}

.navbar h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25;
    margin: 5px;
}

/* Intro */ 

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    background-image: url('./Img/coding-pic.avif');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 770px;
    border-radius: 5px;
    color: white;   
    opacity: 0.75;
    
}

.main-section h1 {
    margin: 0;
}

.main-section h3 {
    margin: 0;
}

/* About Me */ 

.about-me {
    font-family: 'Ubuntu', sans-serif;
    background-color: #82b3c9;
    display: inline-flex;
    flex-wrap: wrap;
}

.about-me img {
    width: 25px;
    height: 25px;
    margin-top: 20px;
}

.about-me h2 {
    font-size: 32px;
    margin: 22px 0 0 5px;
}

/* Skills */

.skills {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: #b3e5fc;
    border-radius: 5px;
    padding-bottom: 22px;
}

.break {
    width: 100%;
    height: 0;
}

.skills img {
    width: 30px;
    height: 30px;
    margin-top: 16px;
}

.skills h2 {
    font-size: 32px;
    margin: 22px 0 0 5px;
}

.skills h3 {
    font-size: 25px;
    margin-left: 5px;
}

.skill-container {
    background-color: #e6ffff;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 5px;
}

.skill-container h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 5px;
}

.skill-container p {
    margin: 5px;
}

/* Footer */

footer {
    color: white;
    font-size: 32px;
    position: relative;
    bottom: 0px;
}