html {
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    background-color: rgb(216, 218, 217);
    text-align: center;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a:hover {
    color: black;
    text-decoration: none;
    opacity: 0.7;
}

a:active {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

/* Mission Statement */

#mission {
    background-image: url(./Img/photo-1493134799591-2c9eed26201a.avif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    border-radius: 5px;   
    display: flex;
    max-width: 1220px;
    justify-content: center;
    margin: auto;
}

.mission-statement {
    width: 100%;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    display: flex;
}

.mission-statement h2, .mission-statement p {
    background-color: rgba(216, 218, 217, 0.7);
    border-radius: 5px;
}

/* Portfolio */ 

#portfolio {
    display: flex;
    margin: auto;
    max-width: 1220px;
    flex-direction: column;
}

.portfolio-images {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-images img {
    width: 220px;
}

figcaption {
    padding: 10px;
}

/* Team */

#team {
	display: inline-flex;
	flex-direction: column;
	max-width: 1220px;
	margin: auto;
    background-image: url(./Img/photo-1486406146926-c627a92ad1ab.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.team-images {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-images img {
    width: 200px;
    height: auto; 
    border-radius: 5px;
}

.team-images h3, .team-images p {
    background-color: rgba(216, 218, 217, 0.7);
    border-radius: 5px;
    width: 200px;
}

/* Footer */ 

footer {
    padding-top: 10px;
}

.copyright {
    padding-top: 50px;
}